<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blooddonate"
        tools:targetApi="31">
        <activity
            android:name=".donor.DonationHistroyActivity"
            android:exported="true" />
        <activity
            android:name=".acceptor.viewrequestActivity"
            android:exported="true" />
        <activity android:name=".acceptor.AcceptedDonorsActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorDashboardFragment"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorLoginActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorMainActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorProfileActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorRegisterActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.RequestHistoryActivity"
            android:exported="true"/>
        <activity android:name=".acceptor.AcceptorRequestsFragment"
            android:exported="true"/>
        <activity android:name=".donor.AppointmentsActivity"
            android:exported="true"/>

        <activity android:name=".donor.DonorDashboardFragment"
            android:exported="true"/>

        <activity android:name=".donor.DonorFeedFragment"
            android:exported="true"/>

        <activity android:name=".donor.DonorLoginActivity"
            android:exported="true"/>

        <activity android:name=".donor.DonorProfile"
            android:exported="true"/>

        <activity android:name=".donor.DonorRegisterActivity"
            android:exported="true"/>

        <activity android:name=".donor.DonorRequest"
            android:exported="true"/>


        <activity
            android:name=".UserAuthentication"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>